In [28]:
import pandas as pd

#Create 1st DataFrame
df1=pd.DataFrame({
    "city":["Delhi","Mumbai","Kolkata","Chennai"],
    "temperature":[30,49,34,42],
    "humidity":[70,65,34,69]
})
print(df1)

      city  temperature  humidity
0    Delhi           30        70
1   Mumbai           49        65
2  Kolkata           34        34
3  Chennai           42        69

In [27]:
#Create 2nd DataFrame
df2=pd.DataFrame({
    "city":["Lucknow","Banglore","Tamilnadu","Sikkim"],
    "temperature":[40,43,44,32],
    "humidity":[40,65,44,59]
})
print(df2)

        city  temperature  humidity
0    Lucknow           40        40
1   Banglore           43        65
2  Tamilnadu           44        44
3     Sikkim           32        59

In [40]:
#Concatinate two DataFrame
cdf=pd.concat([df1,df2],ignore_index=True)
print(cdf)

        city  temperature  humidity
0      Delhi           30        70
1     Mumbai           49        65
2    Kolkata           34        34
3    Chennai           42        69
4    Lucknow           40        40
5   Banglore           43        65
6  Tamilnadu           44        44
7     Sikkim           32        59

In [42]:
#Give alternate index
cdf=pd.concat([df1,df2],keys=["india","us"])
print(cdf)

              city  temperature  humidity
india 0      Delhi           30        70
      1     Mumbai           49        65
      2    Kolkata           34        34
      3    Chennai           42        69
us    0    Lucknow           40        40
      1   Banglore           43        65
      2  Tamilnadu           44        44
      3     Sikkim           32        59

In [44]:
#Subset of concatinated dataframe using key flag
print(cdf.loc["india"])

      city  temperature  humidity
0    Delhi           30        70
1   Mumbai           49        65
2  Kolkata           34        34
3  Chennai           42        69

In [66]:
tmp_df=pd.DataFrame({
    "city":["Delhi","Mumbai","Kolkata","Chennai"],
    "temperature":[30,49,34,42]
},index=[1,2,3,4])
print(tmp_df)

      city  temperature
1    Delhi           30
2   Mumbai           49
3  Kolkata           34
4  Chennai           42

In [103]:
windspd_df=pd.DataFrame({
    "city":["Kolkata","Chennai"],
    "wind_speed":[9,13]
},index=[3,4])
print(windspd_df)

      city  wind_speed
3  Kolkata           9
4  Chennai          13

In [69]:
#append two tmp_df & windspd_df dataframe
concat_df=pd.concat([tmp_df,windspd_df],axis=1)
print(concat_df)

      city  temperature     city  wind_speed
1    Delhi           30      NaN         NaN
2   Mumbai           49      NaN         NaN
3  Kolkata           34  Kolkata         9.0
4  Chennai           42  Chennai        13.0

In [71]:
new_data=pd.Series(["Humid","Dry","Rain"],name="Weather",index=[1,2,3])
print(new_data)

1    Humid
2      Dry
3     Rain
Name: Weather, dtype: object

In [102]:
import numpy as np
#add new row in dataframe
cdf=pd.concat([concat_df,new_data],axis=1)
cdf=cdf.replace({"wind_speed":0},np.NaN)
print(cdf)

      city  temperature     city  wind_speed Weather
1    Delhi           30      NaN         NaN   Humid
2   Mumbai           49      NaN         NaN     Dry
3  Kolkata           34  Kolkata         9.0    Rain
4  Chennai           42  Chennai        13.0     NaN